body {
    font-family:Arial,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:11px;
}

#content {
    width:90%;
    margin:0 auto;
    padding:0px;
    height:auto;
}

#left_panel {
    padding:5px;
    width:40%;
   float:left;
    background-color:silver;
}
#rigth_panel{
    
   
    width:60%;
}

