body 
{
	font-family:Helvetica;
	font-size:x-large;
}

a { text-decoration:none;
    font-weight:bold;
    
}

input button
{
	height:23px;
	}
	
	td 
	{
		font-size:x-large;}
	
	td input button
	{
		height:23px;}

#wrapper {
    width:768px;
    margin:0 auto;
    }
    
 #left {
 float:left;
 width:50%;
 margin:0;
 text-align:center;
 /*background-color:Aqua;*/
 
 }
#right {
float:left;
width:50%;
margin:0;
/*background-color:Fuchsia;*/

}    
